body {
  height: 97vh;
  background-image: url(assets/img/lfz-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

/* header information  */
header {
  display: flex;
}

.header-row {
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/* end of head information */

/* aside information */

.row-1 {
  height: 20%;
}
.row-2 {
  height: 70%;
}

aside, main {
  height: 100%;
  display: flex;
}

aside {
  margin: auto;
}

aside > div {
  background-color: rgb(165, 220, 235);
  width: 60%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.stats-container {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/* end of aside information */

/* card information */
main {
  display: flex;
}

.card {
  /* background-image: url(assets/img/lfz-card.jpg); */
  height: 25%;
  background-size: cover;
  background-position: center;
  justify-content: center;
  position: relative;
}

.card-container {
  margin: auto;
  margin-top: 2%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.card-back {
background-image: url(assets/img/lfz-card.jpg);
}

.css-logo {
  background-image: url(assets/img/css-logo.png);
}

.docker-logo {
  background-image: url(assets/img/docker-logo.jpg);
}

.gitHub-logo {
  background-image: url(assets/img/gitHub-logo.png);
}

.html-logo {
  background-image: url(assets/img/html-logo.png);
}

.js-logo {
  background-image: url(assets/img/js-logo.png);
}

.mysql-logo {
  background-image: url(assets/img/mysql-logo.jpg);
}

.node-logo {
  background-image: url(assets/img/node-logo.png);
}

.php-logo {
  background-image: url(assets/img/php-logo.jpeg);
}

.react-logo {
  background-image: url(assets/img/react-logo.png);
}

/* end of card information */

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.modal-content {
  background-color: rosybrown;
  width: 50%;
  color: white;
  text-align: center;
}


.hidden {
  display: none;
}
